<% provide(:title, "Fluids") %>
<div class="col-lg-3">
</div>
<div class="col-lg-8">
	<%= image_tag 'vapor_glass.jpg'%>
	<h1>Fluids</h1>
	<h2>We have a wide range of <b>organic</b> fluids</h2>
	<h3>To provide the cleanest of vapor experiences</h3>
</div>
<div class="col-lg-1">
</div>