<% provide(:title, "Home") %>
</br>
<div id="gmap">
	<div class="col-md-6">
		<h1>Come visit our shop and lounge anytime!</h1>
		</br>
		<h1>-Parking in rear off 400 York st.</h1>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3139.6470125804362!2d-122.2565464!3d38.1018794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857365a1361067%3A0xed237f985b17e663!2s419+Georgia+St%2C+Vallejo%2C+CA+94590!5e0!3m2!1sen!2sus!4v1433118416801" width="400" height="300" frameborder="0" style="border:0" align = "right"></iframe>
	</div>
</div>
</br>
<div class="col-md-12" id="elevapeLogo">
	<div class="col-md-6" >
		<p>elevape</p>
	</div>
	<div class="col-md-6" > 
		<h1 align="right">Check out our instagram!   
			<style>.ig-b- { display: inline-block; }
				.ig-b- img { visibility: hidden; }
				.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
				.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
				@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
				.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }</style>
				<a href="http://instagram.com/vtownvapor?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>
		</h1>
	</div>
</div>

