/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*below is needed to prevent gap between navbar and body*/
 /*since this is in assets pipeline, need to rake assets:precompile*/
.navbar{
  margin-bottom: 1;
  font-family: 'Yesteryear', 'cursive';
  font-weight: 800;
}
body{
	margin-top: 0;
	background-color: #668080;
  font-family: 'Yesteryear', 'cursive';
  font-weight: bold;
}
.carousel{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1;
  padding-right: 2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 5px;
}
/*carousel width and height*/
.carousel-inner{
  width:100%;
  height:90%;
  margin: 0 auto;

}
.carousel-caption {

      margin-bottom: 20%;
      text-align:center;
      text-shadow: black 2px 2px 2px;
}
/* Override Bootstrap 3 font locations */
/*for glyphicon failures*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* used to align images inside carousel*/
.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}